.sub-menu {
	margin-left: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	padding-top: 12px;
	border-top: 1px solid #dfdfdf;
}

/* STYLES FOR MAIN SECTION CATEGORY */
.category-title {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	border-bottom: 1px solid #dfdfdf;
	padding: 25px 50px 15px 50px;
	margin: 0;
}

.category-title:before {
	content: "";
	position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  right: 50px;
  margin-top: 6px;
  border-style: solid;
  border-color: black;
  border-width: 0px 2px 2px 0px;
	transition: transform .3s;
}

.category-title.expanded:before {
	transform: rotate(225deg);
}

/* STYLES FOR SMALLER INDIVIDUAL ITEMS IN SUB-CATEGORY */
.sub-menu-items {
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 25px 50px;
	border-bottom: 1px solid #dfdfdf;
}

.sub-menu-items li {
	display: flex;
  justify-content: space-between;
	align-items: center;
	font-size: 12px;
	margin-bottom: 20px;
}

.sub-menu-items a {
	text-decoration: none;
	color: inherit;
}

.sub-menu-items .product-count {
	opacity: .5;
	font-size: 10px;
}
